body {
  margin: 0;
  font-family: 'Lora', serif;
  color: #f5f5f5;
  background: linear-gradient(to top left, #97b2d1, #5882a7, #2c3e50, #1f2c3a);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Navigation Bar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: rgba(31, 34, 37, 0.377);
  backdrop-filter: blur(6px);
  padding: 20px 0;
  z-index: 100;
}

.nav-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s;
}

.nav-links li a:hover {
  color: #97b2d1; /* highlight on hover */
}

.container {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px;
  margin-left: 5vw;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  border: 1px solid black;
  overflow: hidden;
  display: flex;
  margin-left: -50px;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.circle img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-family: 'Lora', serif;
}

.info h1 {
  margin: 0;
  font-size: 28px;
  font-weight: bold;
  font-family: 'Lora', sans-serif;
}

.info h2 {
  margin: 8px 0 20px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}

.buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.buttons a {
  padding: 10px;
  border: 1px solid black;
  background-color: white;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  color: black;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 5px;
}

.buttons a i {
  font-size: 18px;
}

.contact-number {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
}